<!DOCTYPE html>
<html lang="pr-br">
<head>
    <%-include('partials/head.ejs')%>
</head>
<body class="bodyA">
    
    
<a href="/"><button>Index</button></a>
<a href="/cadastro"><button>Cadastro</button></a>
<a href="/homepage"><button>Homepage</button></a>
<a href="/duvidas"><button>Duvidas</button></a>
<a href="/app"><button>App</button></a>
<a href="/appList"><button>AppList</button></a>

    <section id="appointment" class="appointment">
        <div class="container">
            <h2>Preencha os campos abaixo</h2>

            <form id="formCadastro" action="/app/add" method="POST" autocomplete="off" enctype="multipart/form-data">
                <div class="personal-data">
                    <div class="input-wrapper">
                        <label>Nome</label>
                        <input type="text" name="name" id="nameApp" placeholder="Digite o seu nome" required>
                        <span class="erro"></span>
                    </div>
                <div class="input-wrapper">
                    <label>RGA</label>
                    <input type="number" name="rga" id="rgaApp" placeholder="Digite o seu RGA" required>
                    <span class="erro"></span>
                </div>
                <div class="input-wrapper">
                    <label>E-mail</label>
                    <input type="email" name="email" id="emailApp" placeholder="Digite o seu e-mail" required>
                    <span class="erro"></span>
                </div>
                <div class="input-wrapper">
                    <label>Curso</label>
                    <select id ="cursoApp" name="course" required>
                        <option value="">-- Selecione --</option>
                        <option value="Engenharia de Computação">Engenharia de Computação</option>
                        <option value="Engenharia de Controle e Automação">Engenharia de Controle e Automação</option>
                        <option value="Engenharia de Minas">Engenharia de Minas</option>
                        <option value="Engenharia de Transportes">Engenharia de Transportes</option>
                        <option value="Engenharia Química">Engenharia Química</option>
                    </select>
                    <span class="erro"></span>
                </div>
                <div class="input-wrapper">
                    <label>Telefone</label>
                    <input name="phone" type="number" id="telApp" placeholder="Digite o seu telefone" required>
                    <span class="erro"></span>
                </div>
                <div class="input-wrapper">
                    <label>Tipo</label>
                    <select name="type" id ="tipoApp" required>
                        <option value="">-- Selecione --</option>
                        <option value="Horas complementares">Horas complementares</option>
                        <option value="Horas de extensão">Horas de extensão</option>
                    </select>
                    <span class="erro"></span>
                </div>
                <div class="input-wrapper">
                    <label>Anexe seu certificado para comprovar suas horas (somente em PDF)</label>
                    <input type="file" accept=".pdf" name="file" id="arqApp" required>
                    <span class="erro"></span>
                </div>

                <div class="input-wrapper">
                    <label>Horas registradas no documento</label>
                    <input name="hrsD" type="number" id="hrsDApp" placeholder="Digite as hrs registradas" required>
                    <span class="erro"></span>
                </div>
            </div>
            
            <!-- <div class="input-wrapper">
                <label>Categoria das horas complementares</label>
                <select id ="categoriaApp" name="categA" required>
                    <option value="">-- Selecione --</option>
                    <optgroup label="Grupo I: Palestras e Cursos adicionais">
                        <option>Disciplinas de outros cursos, de outras IES, que não são aproveitadas como disciplinas obrigatórias ou optativas. Em todos os casos as instituições e cursos devem ser devidamente reconhecidos pelo MEC.
                        </option>
                        <option>Disciplinas de outros cursos da UFMT e que não são aproveitadas como disciplinas obrigatórias ou optativas.
                        </option>
                        <option>Participação efetiva e comprovada em semanas acadêmicas, palestras, programas de treinamento, jornadas, simpósios, seminários, congressos, encontros, <br><br>conferências, fóruns e outros eventos de ciência e tecnologia em áreas diretas e correlatas à Engenharia de Computação, promovidas pela UFMT, outras IES ou por órgãos públicos, conselhos, entidades da sociedade civil ou associações de classe.
                        </option>
                        <option>Participação em viagens de estudo no Brasil, organizadas pela UFMT ou por outra IES.
                        </option>
                        <option>Participação em viagens de estudo para o exterior organizadas pela UFMT ou por outra IES.
                        </option>
                        <option>Outras atividades propostas pelo discente, em qualquer campo do conhecimento afim ao universo acadêmico, sujeitas à avaliação do Colegiado de Curso de Engenharia de Computação quanto ao mérito para o discente e para o curso e ao tempo de duração.
                        </option>
                    </optgroup>
                    <optgroup label="Grupo II: Representação e participação em projetos">
                        <option>Representação discente junto a órgãos da UFMT, com comprovação de, no mínimo, 75% de participação efetiva, desde que o mandato representativo tenha, no mínimo, 12 horas de mandato.
                        </option>
                        <option>Bolsista remunerado ou voluntário de iniciação científica realizada no âmbito da UFMT, com o devido registro na Pró-Reitoria de Pesquisa e/ou participação no Seminário de Iniciação Científica.
                        </option>
                        <option>Monitoria em disciplinas da UFMT com a devida comprovação do Departamento ou do professor responsável e registro pela Pró-Reitoria de Ensino de Graduação.
                        </option>
                        <option>Atividades desenvolvidas como Bolsa PET (Programa de Educação Tutorial), Bolsa EaD (Educação à Distância) e demais bolsas acadêmicas.
                        </option>
                        <option>Outras atividades propostas pelo discente, em qualquer campo do conhecimento afim ao universo acadêmico, sujeitas à avaliação do Colegiado de Curso de Engenharia de Computação quanto ao mérito para o discente e para o curso e ao tempo de duração. 
                        </option>
                    </optgroup>
                    <optgroup label="Grupo III: Produção Científico-Tenológica">
                        <option>Publicação de artigo em periódico científico com ISSN, ou capítulo de livro com ISBN.
                        </option>
                        <option>Publicação de livro ou manual técnico com ISBN.
                        </option>
                        <option>Publicação de artigo ou resumo expandido em anais de eventos científicos.
                        </option>
                        <option>Publicação de resumo simples em anais de eventos científicos.
                        </option>
                        <option>Publicação de artigo em periódicos não científicos (magazines) ou em jornais
                        </option>
                        <option>Apresentação oral de trabalhos em eventos científicos
                        </option>
                        <option>Apresentação de trabalhos, por meio de pôster, banner, vídeo ou maquete, em eventos científicos.
                        </option>
                        <option>Prêmio em concursos de projetos, inovação tecnológica ou outra modalidade, em níveis internacional, nacional ou regional.
                        </option>
                        <option>Prêmio em concursos de projetos, inovação tecnológica ou outra modalidade, em nível local.
                        </option>
                        <option>Outras produções apresentadas pelo discente, em qualquer campo do conhecimento afim ao universo acadêmico, sujeitas à avaliação do Colegiado de Curso de Engenharia de Computação quanto ao mérito para o discente e para o curso e ao tempo de duração.
                        </option>
                    </optgroup>
                </select>
                <span class="erro"></span>
            </div> -->

            <div class="input-wrapper">
                <label>Mensagem (opcional)</label>
                <input name="msg" id="msgApp" maxlength="100" placeholder="Digite uma observação para o avaliador" required>
            </div> 
            

        </div>
        <div class="btns-boxA">
            <div class="btnsA">
                <a href="homepage"><button type="button" onclick="irHp()" id="btnHp" class="btn">Voltar</button></a>
            </div>
        
            <div class="btnsA">
                <button class ="btn" type="submit" id="sendApp"> Enviar</button>
            </div>
        </div>
        </form>
          

        
    </section>

    <footer class="footer">
    © 2023 UFMT - Todos os direitos reservados
    <br>
    Desenvolvido por Matheus Carvalho
    </footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/main.js"></script>
<script src="js/graph.js"></script>

</body>
</html>